/* You can add global styles to this file, and also import other style files */
html {

font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;




  /* CSS HEX */
  --rich-black: #0e131fff;
  --delft-blue: #38405fff;
  --white-smoke: #f6f4f3ff;
  --poppy: #db3a34ff;
  --viridian: #498467ff;

  /* CSS HSL */
  --rich-black: hsla(222, 38%, 9%, 1);
  --delft-blue: hsla(228, 26%, 30%, 1);
  --white-smoke: hsla(20, 14%, 96%, 1);
  --poppy: hsla(2, 70%, 53%, 1);
  --viridian: rgb(72, 132, 103);

  /* SCSS HEX */
  $rich-black: #0e131fff;
  $delft-blue: #38405fff;
  $white-smoke: #f6f4f3ff;
  $poppy: #db3a34ff;
  $viridian: #498467ff;

  /* SCSS HSL */
  $rich-black: hsla(222, 38%, 9%, 1);
  $delft-blue: hsla(228, 26%, 30%, 1);
  $white-smoke: hsla(20, 14%, 96%, 1);
  $poppy: hsla(2, 70%, 53%, 1);
  $viridian: hsla(151, 29%, 40%, 1);

  /* SCSS RGB */
  $rich-black: rgba(14, 19, 31, 1);
  $delft-blue: rgba(56, 64, 95, 1);
  $white-smoke: rgba(246, 244, 243, 1);
  $poppy: rgba(219, 58, 52, 1);
  $viridian: rgba(73, 132, 103, 1);

  /* SCSS Gradient */
  $gradient-top: linear-gradient(0deg, #0e131fff, #38405fff, #f6f4f3ff, #db3a34ff, #498467ff);
  $gradient-right: linear-gradient(90deg, #0e131fff, #38405fff, #f6f4f3ff, #db3a34ff, #498467ff);
  $gradient-bottom: linear-gradient(180deg, #0e131fff, #38405fff, #f6f4f3ff, #db3a34ff, #498467ff);
  $gradient-left: linear-gradient(270deg, #0e131fff, #38405fff, #f6f4f3ff, #db3a34ff, #498467ff);
  $gradient-top-right: linear-gradient(45deg, #0e131fff, #38405fff, #f6f4f3ff, #db3a34ff, #498467ff);
  $gradient-bottom-right: linear-gradient(135deg, #0e131fff, #38405fff, #f6f4f3ff, #db3a34ff, #498467ff);
  $gradient-top-left: linear-gradient(225deg, #0e131fff, #38405fff, #f6f4f3ff, #db3a34ff, #498467ff);
  $gradient-bottom-left: linear-gradient(315deg, #0e131fff, #38405fff, #f6f4f3ff, #db3a34ff, #498467ff);
  $gradient-radial: radial-gradient(#0e131fff, #38405fff, #f6f4f3ff, #db3a34ff, #498467ff);


  --main-background: #{$white-smoke};
  --main-border: #{$rich-black};
  --content-background: #{$white-smoke};
  --footer-background: #{$white-smoke};
  --text: #{$delft-blue};
  --highlight: #{$viridian};

  .dark-mode {

    --raisin-black: #201e1fff;
    --timberwolf: #dad7cdff;
    --sage: #a3b18aff;
    --slate-gray: #5f758eff;
    --african-violet: #9d79bcff;

    /* CSS HSL */
    --raisin-black: hsla(330, 3%, 12%, 1);
    --timberwolf: hsla(46, 15%, 83%, 1);
    --sage: hsla(82, 20%, 62%, 1);
    --slate-gray: hsla(212, 20%, 46%, 1);
    --african-violet: hsla(272, 33%, 61%, 1);

    /* SCSS HEX */
    $raisin-black: #201e1fff;
    $timberwolf: #dad7cdff;
    $sage: #a3b18aff;
    $slate-gray: #5f758eff;
    $african-violet: #9d79bcff;

    /* SCSS HSL */
    $raisin-black: hsla(330, 3%, 12%, 1);
    $timberwolf: hsla(46, 15%, 83%, 1);
    $sage: hsla(82, 20%, 62%, 1);
    $slate-gray: hsla(212, 20%, 46%, 1);
    $african-violet: hsla(272, 33%, 61%, 1);

    /* SCSS RGB */
    $raisin-black: rgba(32, 30, 31, 1);
    $timberwolf: rgba(218, 215, 205, 1);
    $sage: rgba(163, 177, 138, 1);
    $slate-gray: rgba(95, 117, 142, 1);
    $african-violet: rgba(157, 121, 188, 1);

    /* SCSS Gradient */
    $gradient-top: linear-gradient(0deg, #201e1fff, #dad7cdff, #a3b18aff, #5f758eff, #9d79bcff);
    $gradient-right: linear-gradient(90deg, #201e1fff, #dad7cdff, #a3b18aff, #5f758eff, #9d79bcff);
    $gradient-bottom: linear-gradient(180deg, #201e1fff, #dad7cdff, #a3b18aff, #5f758eff, #9d79bcff);
    $gradient-left: linear-gradient(270deg, #201e1fff, #dad7cdff, #a3b18aff, #5f758eff, #9d79bcff);
    $gradient-top-right: linear-gradient(45deg, #201e1fff, #dad7cdff, #a3b18aff, #5f758eff, #9d79bcff);
    $gradient-bottom-right: linear-gradient(135deg, #201e1fff, #dad7cdff, #a3b18aff, #5f758eff, #9d79bcff);
    $gradient-top-left: linear-gradient(225deg, #201e1fff, #dad7cdff, #a3b18aff, #5f758eff, #9d79bcff);
    $gradient-bottom-left: linear-gradient(315deg, #201e1fff, #dad7cdff, #a3b18aff, #5f758eff, #9d79bcff);
    $gradient-radial: radial-gradient(#201e1fff, #dad7cdff, #a3b18aff, #5f758eff, #9d79bcff);


    --main-background: var(--raisin-black);
    --main-border: var(--raisin-black);
    --content-background: var(--slate-gray);
    --footer-background: var(--african-violet);
    --text: $timberwolf;
  }
}




.spotlight-area {
  width: 50vw;
  height: 600px;
  margin: auto;
  margin-top: 160px;
}

.content-area {
  background-color: #f3f3f3;
  border-radius: 30px;
  padding: 30px;
  text-align: center;
}
